*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html,
body {
  overflow-x: hidden;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  margin: 0;
  line-height: inherit;
}

.container {
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: row;
  flex-grow: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.home {
  padding: 1rem;

  background-image: url("https://images.unsplash.com/photo-1501696461415-6bd6660c6742?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  flex: 1 1 0%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.search-results {
  flex: 1 1 0%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.search-results_Nav {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 8px 6px -6px #e1dcdc;
  display: flex;
  justify-content: space-between;
}

.home__greetings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  height: 20%;
}

.home__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.home__greetings-inline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__greetings-greet {
  font-size: 40px;
  font-weight: 400;
  margin-left: 15px;
}

.home__greetings-time {
  font-size: 78px;
  font-weight: 300;
}

.home-icon {
  height: 40px;
  width: 40px;
  color: white;
}

.home__search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__search-container-input {
  width: 100%;
  background-color: white;
  border: none;
  outline: 0;
  position: relative;
  color: black;
  padding: 20px;
  border-radius: 0.375rem;
}

.home__search-logo-input-container {
  width: 40%;
}
.home__search-logo-input-container > div {
  display: flex;
  justify-content: center;
}

.home__search-logo-input-container > div > img {
  width: 30%;
  margin-bottom: 20px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.search__results-list {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
}

.search__result {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.search__result-history {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: #e1dcdc;
  cursor: pointer;
}

.search__result:hover {
  background-color: #efefef;
}

.close-icon {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0.25rem;
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
  cursor: pointer;
}

.close-icon__prop {
  height: 24px;
  width: 24px;
  color: rgb(55 65 81);
}

.user-icon {
  height: 20px;
  width: 20px;
  color: rgb(255, 77, 63);
  margin-right: 5px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-results__length {
  margin-top: 3rem;
}

.pointer {
  cursor: pointer;
}

.search-result__content {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}

.search-result__content-item {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border: 2px solid #f3f6fa;
  padding: 5px;
  width: 20vw;
  height: 200px;
  margin: 10px;
  gap: 1rem;
  color: black;
  text-align: center;
  display: flex;
  border-radius: 20px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 2px solid #e1dcdc;
  border-radius: 11px;
}

.search-result__info-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}

.search-result__info-container > .info {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

@media (max-width: 550px) {
  .home__greetings {
    padding: 1px;
  }
  .home-icon {
    width: 22px;
    height: 22px;
  }
  .home__greetings-greet {
    font-size: 20px;
  }
  .home__greetings-time {
    font-size: 30px;
  }
  .home__search-logo-input-container {
    width: 90%;
  }
  .flex-center {
    font-size: 10px;
    width: 25%;
  }
  .flex-center > img {
    width: 80% !important;
  }
  .search-result__content-item {
    width: 100vw;
  }
  .search-result__content {
    margin: 0;
    margin-bottom: 1rem;
  }
  .search-result__info-container {
    font-size: 10px;
  }
  .user-icon {
    width: 15px;
    height: 15px;
  }
}
